.navbar{
	background-color: darkblue;
}
footer{
	padding-left: 5%;
	padding-right: 5%;
	color: gray;
	text-align: center;
}
.content{
	padding-right: 5%;
	padding-left: 5%;
}
.tour{
	background-color: #003366;
	color: white;
	padding-top: 2%;
	/*padding-right: 4%;
	padding-left: 4%;*/
	border-radius: 1%;
}
.btn-success:hover{
	background-color: lightgray;
	color: black;
}
.tour-info{
	padding-top: 2%;
	padding-bottom: 2%;
}
.insc{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
}
p{
	text-align: justify;
}
input{
	border-top: none;
	border-left: none;
	border-right: none;
}
hr
	{color: black;
	border: 10px;
	background-color: white;
}
.form-purchase{
	padding-left: 5%;
	padding-right: 5%;
	border-color: black;
}
.tour-part{
	border: solid;
	border-color: white;
	padding: 1%;
	border-radius: 16px;
}
.tour-container{
	padding-left: 2%;
	padding-right: 2%;
}
.head{
	padding-left: 4%;
	padding-right: 4%;
}
